__pycache__/
*.pyc
.idea/.gitignore
.idea/aimodel.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.python-version
project.md
.idea/deployment.xml
